<h1>USUARIOS</h1>
{{#if users.length}}
{{#each users}}
<p>
    {{id}} -> {{name}}
</p>
{{/each}}
{{else}}
No hay usuarios
{{/if }}
<h2>ADMINISTRADOR</h2>
{{#with admin}}
<h3>{{name}}</h3>
<p>El administrador es {{fullname}}</p>
{{else}}
THERE IS NO ADMIN DAMN
{{log "HAS INTENTADO RENDERIZAN SIN ADMINISTRADOR"}}
{{/with}}